@import url("https://use.typekit.net/esk0uzl.css");
@font-face {
  font-family: 'ikon-bold';
  src: url('font/bmikon-thickened-webfont.woff2') format('woff2'),
       url('font/bmikon-thickened-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ikon';
  src: url('font/bmikon-regular-webfont.woff2') format('woff2'),
       url('font/bmikon-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root{
  font-size: 10px;
  line-height: 1;
}
*, *::before, *::after{ box-sizing: border-box }
body{
  background: var(--dark);
  color: var(--light);
  font-family: acumin-pro, sans-serif;
  font-style: normal;
}
#logo{
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "ikon-bold";
}
#logo h1{
  margin: 0;
}
#wrap{
  width: 1024px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  transition: transform 400ms;
}
aside{
  display: block;
  position: relative;
  height: 100%;
  position: fixed;
  overflow: hidden;
  width: calc(900px * .40);
  transition: left 500ms;
  left: 0;
  padding: 10rem 0 0 2rem;
}
main{
  display: block;
  position: relative;
  left: 40%;
  width: 60%;
  height: 100%;
  transition: transform 500ms;
  padding: 10rem 0 0 0;
}
main section{
  display: block;
  margin: 2rem 0 4rem 0;
  position: relative;
}
.thumb{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.thumb div{
  width:calc((100%/3) - 10px);
  height: auto;
  cursor: pointer;
  overflow: hidden;
  margin: 5px;
  cursor: pointer;
}
.thumb div img{
  width: 100%;
  height: auto;
  transition: 1000ms;
  transform: scale(1.5);
}
.thumb .img{
  transform: scale(.75) translateY(2rem);
  transition: 400ms;
  border-radius: 1rem;
  opacity: 0;
}
.thumb .img.isVisible{
  transform: scale(1) translateY(0);
  opacity: 1;
  border-radius: .25rem;
  opacity: 1;
}
.thumb .img.isVisible img{
  transform: scale(1);
}
.thumb .img:nth-of-type(1){
  transition-delay: 25ms;
}
.thumb .img:nth-of-type(2){
  transition-delay: 50ms;
}
.thumb .img:nth-of-type(3){
  transition-delay: 75ms;
}
.thumb .img:nth-of-type(4){
  transition-delay: 100ms;
}
.thumb .img:nth-of-type(5){
  transition-delay: 125ms;
}
.thumb .img:nth-of-type(6){
  transition-delay: 150ms;
}
.thumb .img:nth-of-type(7){
  transition-delay: 175ms;
}
.thumb .img:nth-of-type(8){
  transition-delay: 200ms;
}
.thumb .img:nth-of-type(9){
  transition-delay: 225ms;
}
section .frame{
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 2rem 0 2rem 0;
}
.frame img{
  width: 100%;
  height: auto;
}
h2{
  letter-spacing: .5px;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 2.5rem 0;
  padding: 0 0 1rem 0;
  border-bottom: 2px solid var(--light);
}
h2 i{
  font-size: 2.5rem;
}
p{
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 1.5rem 0 1.5rem 0;
  font-weight: 500;
}
table{
  font-size: 1.4rem;
  line-height: 3rem;
  margin: 2rem 0 2rem 0;
}
tr{
  height: 3rem;
}
th{
  padding: 0;
}
td{
  padding: 0 1rem 0 1rem;
}
form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 0 4rem 0;
  position: relative;
  display: none;
}
form label{
  display: block;
  width: 50%;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
}
form label input{
  display: block;
  width: 100%;
  height: 3rem;
  margin: .5rem 0 0 0;
  border-bottom: 2px solid var(--light);
  font-weight: 500;
}
form textarea{
  display: block;
  width: 100%;
  height: 9rem;
  padding: 2px;
}
form button{
  flex: 1;
  margin: 2rem 0 2rem 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: transparent;
  color: var(--light);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .64px;
  padding: 2rem 0 2rem 0;
  cursor: pointer;
  border-top: 2px solid var(--light);
}
textarea, input{
  color: var(--light);
  background: transparent;
  border: 0;
  outline: 0;
  margin: 1rem 0 0 0;
  padding: 0;
  border-radius: 0;
  font-size: 1.4rem;
  line-height: 1.5;
}
h3{
  font-family: "ikon-bold";
  font-size: 4rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 1.5rem 0 1.5rem 0;
  letter-spacing: 1px;
}
h3 small{
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 2rem;
}
.tags{
  height: 2.5rem;
  display: flex;
  flex-direction: row;
}
.tags span{
  display: block;
  border: 2px solid var(--light);
  padding: 0 1rem 0 1rem;
  margin: 0 .5rem 0 0;
  border-radius: 1.5rem;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 600;
  user-select: none;
  cursor: auto;
  transition: opacity 250ms, transform 500ms;
  opacity: 0;
  transform: scale(.875) translateY(2rem);
}
.tags span.isVisible{
  opacity: 1;
  transform: scale(1) translateY(0);
}
.tags span:nth-of-type(1){
  transition-delay: 100ms;
}
.tags span:nth-of-type(2){
  transition-delay: 200ms;
}
.tags span:nth-of-type(3){
  transition-delay: 300ms;
}
.tags span:nth-of-type(4){
  transition-delay: 400ms;
}
.tags span:hover{
  color: var(--dark);
  background: var(--light);
}
a{
  color: var(--light);
  font-weight: 600;
}
#menu{
  width: 25px;
  height: auto;
  position: fixed;
  top: 30px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}
#menu div{
  width: 100%;
  height: 4px;
  background-color: var(--light);
  transition: transform 300ms, opacity 200ms;
  margin-bottom: 5px;
  pointer-events: none;
}
body.side #menu div:first-of-type{
  transform: translateY(9px) rotate(135DEG);
  transition-delay: 75ms;
}
body.side #menu div:nth-of-type(2){
  opacity: 0;
}
body.side #menu div:last-of-type{
  transform: translateY(-9px) rotate(-135DEG);
  transition-delay: 150ms;
}

body.side main{
  transform: translateX(-40vw);
}
body.side aside{
  left: -40vw;
}

#side{
  width: 45vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -45vw;
  transition: 400ms;
  padding: 10rem 0 2rem 0;
  display: block;
  z-index: 1000;
  display: none;
}
body.side #side{
  right: 0;
  transition: 800ms;
}
#side article{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin: 0 0 5rem 0;
}
#side article div{
  width: calc(10% - 4px);
  height: calc(10% - 2px);
  width: 10%;
  height: 10%;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  #wrap{
    width: 900px;
  }
  aside{
    width: calc(900px * .40);
  }
}
@media only screen and (max-width: 900px) {
  #wrap{
    width: 768px;
  }
  aside{
    width: calc(768px * .40);
  }
}
@media only screen and (max-width: 768px) {
  #wrap{
    width: 600px;
  }
  #side{
    width: 100vw;
    right: -100vw;
  }
  body.side #wrap{
    transform: translateX(-100vw);
  }
  aside, main{
    width: 100%;
    position: relative;
    left: 0;
    padding: 10rem 2rem 0 2rem;
  }
  aside form label{
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
}
@media only screen and (max-width: 600px) {
  #wrap{
    width: 100%;
  }
}