@import url("https://use.typekit.net/esk0uzl.css");
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes background {
  0%, 100% {
    background: #00e5ff;
  }
  25% {
    background: #d500f9;
  }
  50% {
    background: #2979ff;
  }
  75% {
    background: #304ffe;
  }
}
@keyframes background {
  0%, 100% {
    background: #00e5ff;
  }
  25% {
    background: #d500f9;
  }
  50% {
    background: #2979ff;
  }
  75% {
    background: #304ffe;
  }
}
@-webkit-keyframes slide {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -200%;
  }
}
@keyframes slide {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -200%;
  }
}
:root{
  font-size: 10px;
  line-height: 1;
}
*, *::before, *::after{ box-sizing: border-box; --dark: #000; --light: #fff; }
html {
  scroll-behavior: smooth;
}
body{
  background: var(--dark);
  color: var(--light);
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  overflow: scroll;
}
#down{
  color: #FFF;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-name: bounce;
  font-size: 8rem;
  transition: opacity 500ms;
}
#menu{
  width: 2.5rem;
  height: auto;
  position: fixed;
  top: 3rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2000;
}
#menu div{
  width: 100%;
  height: 4px;
  background-color: var(--light);
  transition: transform 300ms, background-color 200ms, opacity 200ms;
  margin-bottom: 6px;
  pointer-events: none;
}
body.side #menu div:first-of-type{
  transform: translateY(10px) rotate(135DEG);
  transition-delay: 75ms;
}
body.side #menu div:nth-of-type(2){
  opacity: 0;
}
body.side #menu div:last-of-type{
  transform: translateY(-10px) rotate(-135DEG);
  transition-delay: 150ms;
}
#load{
  color: #FFF;
  display: flex;
  flex-direction: row;
  width: 102vw;
  height: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
}
#load div{
  width: 0;
  height: 100%;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-name: background;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#load span{
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
  line-height: 2.375rem;
  padding: 0 2rem 0 0;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
}
main h2:first-of-type{
  margin-bottom: 0;
}
#read{
  height: 2.875rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-bottom: 4px solid #fff;
  position: fixed;
  top: 2.5rem;
  right: 7.5rem;
  cursor: pointer;
  z-index: 1000;
}
resume{
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  right: 0;
  transition: 500ms 250ms;
  background: #333;
  z-index: 1003;
}
body.read resume{
  top: 0;
}
#wrap{
  width: 1024px;
  min-height: 100vh;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  transition: transform 400ms;
  padding-bottom: 2rem;
}
#hero{
  width: 100%;
  height: auto;
  aspect-ratio: 1 / .5;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
#hero div{
  width: 25%;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-self: center;
}
#hero div img{
  width: 100%;
  height: auto;
  transform: scale(.75);
}
#hero .slide{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-name: slide;
}
aside{
  display: block;
  position: relative;
  height: 100%;
  position: fixed;
  overflow: scroll;
  width: calc(900px * .40);
  transition: left 500ms;
  top: 0rem;
  left: 0rem;
  padding: 8rem 0 0 2rem;
}
main{
  display: block;
  position: relative;
  left: 40%;
  width: 60%;
  height: 100%;
  transition: transform 500ms;
  padding: 8rem 0 0 2rem;
}
main section{
  display: block;
  position: relative;
}
.thumb{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.thumb div{
  width:calc((100%/3) - 10px);
  height: auto;
  cursor: pointer;
  overflow: hidden;
  margin: 5px;
  cursor: pointer;
}
.thumb div img{
  width: 100%;
  height: auto;
  transition: 1000ms;
  transform: scale(1.5);
}
.thumb .img{
  transform: scale(.75) translateY(2rem);
  transition: 400ms;
  border-radius: 1rem;
  opacity: 0;
  overflow: hidden;
}
.thumb .img.isVisible{
  transform: scale(1) translateY(0);
  opacity: 1;
  border-radius: .25rem;
  opacity: 1;
}
.thumb .img.isVisible img{
  transform: scale(1);
}
.thumb .img.isVisible:hover{
  transform: scale(.9);
  border-radius: .5rem;
  transition: 200ms;
}
.thumb .img.isVisible:hover img{
  transform: scale(1.375);
}
section .frame{
  margin: 2rem auto 2rem auto;
  padding: 0;
  position: relative;
  width: 80%;
  height: auto;
  overflow: hidden;
}
.frame img{
  width: 100%;
  height: auto;
}
h2{
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  margin: 0 0 2.5rem 0;
  padding: 0 0 1rem 0;
  border-bottom: 3px solid var(--light);
}
h2 i{
  font-size: 2.5rem;
  padding: 0 .5rem 0 1rem;
}
p{
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 2rem 0 2rem 0;
  font-weight: 500;
}
main p{
  font-size: 1.6rem;
}
table{
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 2rem 0 2rem 0;
}
tr{
  height: 3rem;
}
th{
  padding: 0;
}
td{
  padding: 0 1rem 0 1rem;
}
form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 0 4rem 0;
  position: relative;
}
form label{
  display: block;
  width: 50%;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
}
form label input{
  display: block;
  width: 100%;
  height: 3rem;
  border-bottom: 3px solid var(--light);
  font-weight: 500;
}
form textarea{
  display: block;
  width: calc(100% - .5rem);
  height: 9rem;
  padding: 2px;
  border-bottom: 3px solid var(--light);
}
form button{
  height: 5rem;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: transparent;
  color: var(--light);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .64px;
  cursor: pointer;
  border-bottom: 3px solid var(--light);
  border-radius: 0;
  margin: 2rem;
  padding: 0;
}
textarea, input{
  color: var(--light);
  background: transparent;
  border: 0;
  outline: 0;
  margin: 1rem 0 0 0;
  padding: 0;
  border-radius: 0;
  font-size: 1.4rem;
  line-height: 1.5;
}
h3{
  font-size: 4rem;
  font-weight: 600;
  margin: 1.5rem 0 1.5rem 0;
  padding-top: 2rem;
}
h3 small{
  font-weight: 600;
  font-size: 2rem;
}
.tags{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.tags span{
  display: block;
  border: 2px solid var(--light);
  border-bottom: 3px solid var(--light);
  padding: .5rem 1rem .5rem 1rem;
  margin: 0 .5rem 0 0;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  user-select: none;
  cursor: auto;
}
.tags span:hover{
  color: var(--dark);
  background: var(--light);
}
a{
  color: var(--light);
  font-weight: 600;
}
body.side{
  overflow: hidden;
}
body.side main{
  transform: translateX(-40vw);
}
body.side aside{
  left: -40vw;
}

#side{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: -100vw;
  transition: 400ms;
  z-index: 1000;
  overflow: hidden;
  transition: 750ms;
  background: #000;
}
body.side #side{
  right: 0;
  transition: 750ms 100ms;
}
#side ol{
  list-style: none;
  display: block;
  position: relative;
  margin: 0;
  padding: 2rem;
  counter-reset: line;
  opacity: 0;
  transition: opacity 200ms 500ms;
}
#side ol li{
  transform: translateX(30rem);
  transition: 1000ms;
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
#side ol li::before{
  counter-increment: line;
  content: "0"counter(line)".";
  margin: 0 2rem 0 2rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 600;
}
#side ol li:nth-of-type(1){transition-delay: 500ms;}
#side ol li:nth-of-type(2){transition-delay: 550ms;}
#side ol li:nth-of-type(3){transition-delay: 600ms;}
#side ol li:nth-of-type(4){transition-delay: 650ms;}
#side ol li:nth-of-type(5){transition-delay: 700ms;}
#side ol li:nth-of-type(6){transition-delay: 750ms;}
#side ol li:nth-of-type(7){transition-delay: 800ms;}
#side ol li:nth-of-type(8){transition-delay: 850ms;}
#side ol li:nth-of-type(9){transition-delay: 900ms;}
body.side #side ol{
  opacity: 1;
}
body.side #side ol li{
  transform: translateX(0);
}
#side ol li a{
  text-decoration: none;
}
#side ol li:hover a{
  opacity: .125;
}

#fill{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--dark);
  opacity: 1;
  transition: 500ms 250ms;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 1rem;
}
#fill.hide{
  opacity: 0;
  pointer-events: none;
}
#fill article{
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  max-width: 60rem;
  margin: auto;
}
#fill article div{
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}
#fill article div img{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
#fill.p2 #p2{
  display: block;
}
#fill.p3 #p3{
  display: block;
}
#fill.p4 #p4{
  display: block;
}
#fill.p5 #p5{
  display: block;
}
#fill.p6 #p6{
  display: block;
}
#fill.p7 #p7{
  display: block;
}
#fill.p8 #p8{
  display: block;
}
#fill.p9 #p9{
  display: block;
}
@media only screen and (max-width: 1024px) {
  #wrap{
    width: 900px;
  }
  aside{
    width: calc(900px * .40);
  }
}
@media only screen and (max-width: 900px) {
  #wrap{
    width: 768px;
  }
  aside{
    width: calc(768px * .40);
  }
}
@media only screen and (max-width: 768px) {
  #wrap{
    width: 600px;
  }
  body.side #wrap{
    transform: translateX(-100vw);
  }
  aside, main{
    width: 100%;
    position: relative;
    left: 0;
    padding: 10rem 2rem 0 2rem;
  }
  aside form label{
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
  main h2:first-of-type{
    display: none;
  }
  #hero{
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  #wrap{
    width: 100%;
  }
}
