
@font-face {
  font-family: 'telegrafultralight';
  src: url('telegraf-ultralight-webfont.woff2') format('woff2'),
       url('telegraf-ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'telegrafregular';
  src: url('telegraf-regular-webfont.woff2') format('woff2'),
       url('telegraf-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'telegrafultrabold';
  src: url('telegraf-ultrabold-webfont.woff2') format('woff2'),
       url('telegraf-ultrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*, *::after, *::before{ box-sizing: border-box }
html {
  scroll-snap-type: y mandatory;
  overflow: auto;
}
body{
  padding: 0;
  font-family: 'telegrafregular';
}
.bold{
  font-family: 'telegrafultrabold';
}
#logo{
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}
#mark{
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  width: 150px;
  height: auto;
  z-index: 3;
  margin: 1rem;
}